<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,600&display=swap" rel="stylesheet">
    <title>Browse by Specific Category</title>
</head>
<body>
<h2 class="head2">Welcome to Warehouse Management System</h2>

<p><a href="/" class="link_menu">Home Page</a></p> <p><a href="/browseByCategory" class="link_menu">List all categories</a></p>

<h3 th:text="'Items in category ' + ${category}" class="head3"></h3>
<h3 th:text="'(Count: ' + ${itemCount} + ')'" class="head4"></h3>

<table>
    <tr>
        <th>Item Name</th>
        <th>Date of Stock</th>
        <th>Warehouse</th>
    </tr>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.state} + ' ' + ${category}"></td>
        <td th:text="${item.dateOfStock}"></td>
        <td th:text="${item.warehouse}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>