<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,600&display=swap" rel="stylesheet">
    <title>Warehouse Management System</title>
</head>
<body>
<div>
    <h2 class="head2">Welcome to Warehouse Management System</h2>
    <div sec:authorize="isAuthenticated()">
        <p>Logged in as <span sec:authentication="name">{name}</span></p>
    </div>
    <div>
        <h4><a href="/listAllItems" class="link_menu">List all items</a></h4>
        <h4><a href="/browseByCategory" class="link_menu">Browse by category</a></h4>
        <h4><a href="/searchItem" class="link_menu">Search an item and place an order</a></h4>
    </div>
    <p sec:authorize="!isAuthenticated()"><a href="/loginPage" class="link_menu">Sign In</a></p>
    <p sec:authorize="isAuthenticated()"><a href="/logout" class="link_menu">Sign Out</a></p>
</div>
</body>
</html>