<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>List all items</title>
</head>
<body>
<div>
    <h2>Welcome to Warehouse Management System</h2>

    <p><a href="/">Home Page</a></p>

    <div th:each="warehouse : ${warehouses}" >
        <a th:text="'List items from warehouse ' + ${warehouse}" th:href="'/listItemsByWarehouse/' + ${warehouse}"></a>
    </div>

    <h3>All Items List  <span th:text="'(Count: ' + ${itemCount} + ')'"></span></h3>

    <table>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.state}"></td>
            <td th:text="${item.category}"></td>
            <td th:text="${item.dateOfStock}"></td>
            <td th:text="${item.warehouse}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>