<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet"  href="/style.css" th:href="@{/style.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,600&display=swap" rel="stylesheet">
    <title>Login page</title>
</head>
<body>
<h2 class="head2">Login page</h2>
<p><a href="/" class="link_menu">Home Page</a></p>
<p th:if="${loginFailed}" class="error">Wrong username or password</p>
<form th:action="@{/authenticate}" method="post">
    <label for="username">Username</label> <br />
    <input type="text" id="username" name="username" autofocus="autofocus"/> <br />
    <label for="password">Password</label> <br />
    <input type="password" id="password" name="password"/> <br />
    <input type="submit" value="Log in" />
</form>
</body>
</html>